@import 'animations.css';
@import 'variables.css';

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

*:focus {
    outline: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

a,
a label {
    cursor: default;
}

a:hover {
    color: var(--white);
    cursor: default;
}

body {
    background: url(/assets/icons/Swatch.svg);
    overflow: hidden;
}

.squares_pattern {
    background: url(/assets/icons/Squares.svg);
}

/* Splash screen */
.splash_screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/assets/icons/Swatch.svg);
}

.mac_loader {
    background-image: url(/assets/icons/Mac_loader.svg);
    width: 4.7rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.error_mobile {
    width: 70%;
    text-align: center;
    font-family: var(--Primary);
    font-size: .65rem;
    color: var(--white);
}

.welcome {
    position: relative;
    opacity: 0;
    background-color: var(--white);
    border: .8px solid var(--black);
    width: 38rem;
    height: 15rem;
}

.welcome_screen {
    position: absolute;
    width: 98%;
    height: 96%;
    text-align: center;
    vertical-align: middle;
    background-color: var(--white);
    border: 2px solid var(--black);
}

.welcome_screen > span {
    position: absolute;
    top: 45%;
    left: 30%;
    font-family: var(--Primary), sans-serif;
    font-size: 22px;
}

.welcome_illustration {
    margin: 2.5rem 0 0 2.5rem;
    background: url(/assets/icons/illustration.svg);
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Header */
.mac_bar {
    position: relative;
    z-index: 3;
    background-color: var(--white);
    width: 100vw;
    height: 2rem;
    border-bottom: 2px solid var(--black);
    font-family: var(--Primary), sans-serif;
    font-size: 1rem;
}

.mac_menu {
    display: flex;  
}

.mac_menu > li:not(:first-child) {
    padding: .5rem 1rem;
}

.menu-item:hover {
    color: var(--white);
    background: var(--black);
}

#logo {
    width: 1.1rem;
    padding: 0 1.3rem;
}

#logo > svg {
    position: relative;
    transform: translateY(.4rem);
}

header:focus
#logo:hover {
    fill: var(--white);
}

/* dropdown menus */
.dropdown {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    top: 2.2rem;
    z-index: 3;
    background: var(--white);
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--black);
    color: var(--black);
}

.menu-item:hover > ul,
.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

/* Logo menu */
.dropdown.logo {
    left: 0;
}

.dropdown li {
    padding: .4rem 8rem .5rem 1.5rem;
}

.menu-title {
    border-bottom: 1px dotted var(--black);
    padding: 1rem 8rem 1rem 1.5rem;
}

.dropdown.logo li:last-child {
    margin-bottom: .5rem;
}

.dropdown.logo li:nth-child(2) {
    margin-top: .5rem;
}

.dropdown.logo li:first-child {
    padding: 1rem 8rem 1rem 1.5rem;
}

/* end logo menu */
.dropdown.file {
    left: 3.7rem;
}

.dropdown.view {
    left: 11.7rem;
}

.dropdown.edit {
    left: 7.65rem;
}

.dropdown.special {
    left: 16.4rem;
}

.dropdown li:hover, .menu-title:hover {
    color: var(--white);
    background: var(--black);
}

/* Main content */
main {
    min-height: 95vh;
}
.test {
    position: absolute;
    top: 20rem;
}
.desktop-icons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    min-height: 95vh;
    float: right;
}

.folder > .window-body {
    width: 90%;
    float: left;
    margin-left: 1.5rem;
}

.credit-icon figcaption:hover  {
    background-color: var(--black) !important;
}

.credit-icon figcaption:hover > a {
    color: var(--white);
}

.list > .window-body {
    width: 80%;
    float: left;
    margin-left: 1.5rem;
}

.list .v-scroll {
    height: 89%;
}

.system > .window-body {
    width: 90%;
    float: left;
    margin-left: 1.5rem;
}

.files > .window-body {
    width: 90%;
    float: left;
    margin-left: 1.5rem;
}

.v-scroll {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;
    width: 1.8rem;
    float: right;
    border-left: 2px solid var(--black);
    text-align: center;
}

.h-scroll {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
    border-top: solid 2px var(--black);
}

.bottom-icon {
    border-top: 2px solid var(--black);
    padding: .5rem 0 2.2rem 0;
}

.top-icon {
    border-bottom: 2px solid var(--black);
    padding: .3rem 0;
}

.bottom-icon svg {
    transform: rotate(180deg);
}


.right-icon {
    padding: 0 .3rem 0 .2rem ;
    border-right: 2px solid var(--black);
}

.left-icon {
    padding: 0 2.1rem 0 .4rem ;
    border-left: 2px solid var(--black);
}

.right-icon svg {
    position: relative;
    top: .3rem;
    transform: rotate(-90deg);
}

.left-icon svg {
    position: relative;
    top: .35rem;
    transform: rotate(90deg);
}

.resize-icon {
    position: absolute;
    bottom: .25rem;
    right: .4rem;
}

.icon {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.icon:focus > .icon-title {
    background: var(--black);
    color: var(--white);
}

.icon.folder {
    top: 4rem;
    left: 1.5rem;
}

.icon.system-folder {
    top: 4.2rem;
    left: 2rem;
}

.icon.sys-icon {
    top: 3.5rem;
    left: 12rem;
}

.icon.trash {
    top: 30rem;
    left: 2rem;
}

.icon.system {
    top: 21rem;
    left: 1rem;
}

.software-icon {
    top: 3.8rem;
    left: 11.5rem;
}

.icon.paint {
    top: 11rem;
    left: 1rem;
}

.icon.switch {
    left: 90%;
}


.icon > svg {
    margin: auto;
}

.icon-title {
    background: var(--white);
    padding: .3rem .5rem .1rem .5rem;
    margin-top: .1rem;
    font-family: var(--Secondary), sans-serif;
    font-size: 1.1rem;
}

/* Window and tabs */
.window {
    display: none;
    position: absolute;
    background: var(--white);
    font-family: var(--Primary), sans-serif;
    border: 2px solid var(--black);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-overlay {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 0;
}

.window.files {
    width: 45rem;
    height: 22rem;
}

.window.puzzle {
    border-radius: .8rem;
    background: url(/assets/icons/scrollswatch.svg);
    background-color: var(--white);
}

.window.list {
    height: 15rem;
    width: 30rem;
}

.window-header.puzzle {
    background-color: var(--black);
    margin-top: 0;
    margin-bottom: .2rem;
    border-radius: .5rem .5rem 0 0;
}

.puzzle-pad {
    display: grid;
    grid-template-columns: repeat(4, 2.25rem);
    grid-template-rows: repeat(4, 1fr);
    margin: .5rem;
    border: 1px solid var(--black);
}

.puzzle-pad > span {
    padding: .5rem;
    border: solid 1px var(--black);
    background-color: var(--white);
}

.puzzle-pad > span:first-child {
    background: url(/assets/icons/Squares.svg);
    background-color: var(--white);
}

.window.trash {
    height: 20rem;
    width: 30rem;
}

.window.computer {
    height: 20rem;
    width: 20rem;
}

.window.system {
    height: 25rem;
    width: 40rem;
}

.window.folder {
    height: 22rem;
    width: 38rem;
}

.window.finder {
    height: 15rem;
    width: 30rem;
}

.window.paint {
    height: 30rem;
    width: 45rem;
}

.window.control {
    height: 34.5rem;
    width: 43rem;
}

.window.snake {
    height: 23rem;
    width: 30rem;
}

.snake > .window-body {
    margin: 0;
}


.window.calculator {
    height: 16rem;
    width: 10rem;
    background-color: var(--black);
    border-radius: .8rem;
}
.window-header.calculator {
    margin-top: 0;
    color: var(--white);
    padding: .2rem 0rem;
}

.calculator > .window-body {
    height: 85%;
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: .6rem;
}

.search > .window-body {
    margin: 0;
}

.search {
    height: 18.4rem;
    width: 44rem;
}

.calc-title, .puzzle-title {
    color: var(--white);
    position: absolute;
    font-size: 1.1rem;
    left: 55%;
    transform: translateX(-50%);
}

.calc-ui {
    margin: auto;
    height: 100%;
    background: url(/assets/icons/scrollswatch.svg);
}

.calc-output {
    position: relative;
    overflow: hidden;
    top: .5rem;
    height: 1.4rem;
    margin: auto;
    width: 85%;
    background: var(--white);
    border: 2px solid var(--black);
    text-align: right;
}

.calc-output > #calc-res {
    position: relative;
    top: .2rem;
    margin: 0 .4rem;
    font-family: var(--Secondary);
}

.calc-pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .6rem;
    width: 85%;
    height: 75%;
    margin: auto;
    position: relative;
    top: 1rem;
    font-family: var(--Secondary);
    font-size: .9rem;
}

#zero {
    text-align: left;
    grid-column: 1/3;
    grid-row: 5 ;
}

#plus {
    grid-column: 4;
    grid-row: 4/6 ;
}

.control > .window-body {
    background: var(--black);
}

.control .control-panel img {
    position: relative;
    top: -3.4rem;
    left: -.6rem;
    width: 45rem;
}

.calc-pad input {
    background: var(--white);
    border-radius: 0;
    border: 2px solid var(--black);
    box-shadow: .25rem .25rem var(--black);
    padding: .2rem 0 0 0;
}

.calc-pad input:active {
    box-shadow: .1rem .1rem var(--black);
}

.calc-pad input[value="0"] {
    padding: .2rem 0 0 .3rem;

}
/* Snake */
#snake-canvas {
    display: none;
}

.snake-game {
    top: 43%;
}

#gameover{
    display: none;
}

.game-title {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    animation: beat 1s infinite;
}

.game-menu {
    display: flex;
    flex-direction: column;
}

.game-menu > a {
    position: relative;
    margin: .2rem auto;
    font-family: var(--Secondary);
}

.game-menu > a:hover {
    color: black;
}

.game-menu a:hover::before {
    position: absolute;
    content: '>';
    left: -1rem;
    display: block;
    color: var(--black);
}

.game-score {
    display: block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/* Paint */
.paint-cmd {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    top: 0;
    left: -6rem;
    height: 6rem;
    width: 5rem;
}

.paint-stroke {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    top: 6rem;
    left: -6rem;
    height: 10rem;
    width: 5rem;
}

.paint-stroke hr {
    width: 70%;
    margin: auto;
}

.line.btn hr {
    margin: .5rem;
    transform: rotate(45deg);
    border-top: 1px solid var(--black);
}

.pen.btn svg{
    position: relative;
    top: .2rem;
    left: -.1rem
}

.eraser.btn svg {
    position: relative;
    top: .1rem;
}

.multilines.btn hr {
    position: relative;
    margin: .5rem;
    border-top: 1px solid var(--black);
}

.multilines.btn hr:first-child {
    top: .15rem;
    transform: rotate(20deg);
}

.multilines.btn hr:last-child {
    top: -.1rem;
    transform: rotate(-10deg);
    border-top: 1px solid var(--black);
}


.paint-stroke > 
.solid-1 hr {
    border-top: 2px solid var(--black);
}

.paint-stroke > 
.solid-2 hr {
    border-top: 4px solid var(--black);
}

.paint-stroke > 
.solid-3 hr {
    border-top: 6px solid var(--black);
}

.paint-stroke > 
.solid-4 hr {
    border-top: 10px solid var(--black);
}

.window.note-pad {
    height: 27rem;
    width: 23rem;
}

.note-pad_article {
    text-align: left;
    margin: 1.2rem 1rem;
    font-family: var(--Secondary);
    font-size: 1.2rem;
}

.note-pad-bars {
    width: 100%;
    
}

.note-pad-bars hr {
    margin: 3px 0;
    border-top: 1px solid var(--black);
}

.window.alarm {
    z-index: 4;
    width: 10rem;
}

.alarm > .window-body {
    display: none;
}

.window-header {
    position: relative;
    display: flex;
    align-content: center;
    height: 1.4rem;
    width: 100%;
    border-bottom: 2px solid var(--black);
    margin-top: .2rem;
}


.window-bars {  
    width: 100%;
    margin: 0 .2rem;
}

.window-bars hr {
    border-top: 1px solid var(--black);
    margin: 1px;
}

.window-title {
    background: var(--white);
    padding: 0rem .5rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}
.close_btn {
    position: absolute;
    left: 3%;
    top: 1px;
    border: 1px solid var(--black);
    background: var(--white);
    width: 1rem;
    height: 1rem;
}

.resize_btn {
    position: absolute;
    right: 1.4rem;
    top: 1px;
    border: 1px solid var(--black);
    background: var(--white);
    width: 1rem;
    height: 1rem;
}

.calc-btn {
    left: 4%;
    top: 5px;
    border: 2px solid #fff;
    background: transparent;
}

.puzzle-btn {
    left: 6%;
    top: 2px;
    border: 2px solid #fff;
    background: transparent;
}

.expand-rect {
    position: absolute;
    background-color: var(--white);
    top: 0;
    left: 0;
    border-width: 0 1px 1px 0; 
    border-style: solid;
    border-color: var(--black);
    width: 50%;
    height: 50%;
}

.window-body {
    text-align: center;
    overflow: hidden;
    height: 92%;
    width: 100%;
    margin: .3rem 0;
}

.window-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 2rem;
    margin: 2rem auto;
    max-width: 95%;
}

/* No header windows  */
.window.finder .window-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin: 4.7rem auto;
}

.window.finder .window-footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.window.finder .window-info_title {
    font-size: 1.6rem;
    margin-bottom: .5rem;
}

.window.finder .window-info_description,
.window.finder .window-footer {
    font-family: var(--Secondary);
}


