@import 'normalize.css' screen;
@import 'animations.css' screen;
@import 'variables.css' screen;

/* font */
@import url(//db.onlinewebfonts.com/c/1a243397695904f6f56e490ffd77a9cb?family=ChicagoFLF);


* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: url(/assets/icons/Swatch.svg);
    overflow: hidden;
}


/* Splash screen */
.splash_screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/assets/icons/Swatch.svg);
}

.mac_loader {
    background-image: url(/assets/icons/Mac_loader.svg);
    width: 4.7rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.welcome {
    position: relative;
    opacity: 0;
    background-color: var(--white);
    border: .8px solid var(--black);
    width: 38rem;
    height: 15rem;
    animation: show 1.5s forwards;
    animation-delay: 4s;
    animation-direction: alternate-reverse;
}

.welcome_screen {
    position: absolute;
    width: 98%;
    height: 96%;
    text-align: center;
    vertical-align: middle;
    background-color: var(--white);
    border: 2px solid var(--black);
}

.welcome_screen > span {
    position: absolute;
    top: 45%;
    left: 30%;
    font-family: 'ChicagoFLF', sans-serif;
    font-size: 22px;
}

.welcome_illustration {
    margin: 2.5rem 0 0 2.5rem;
    background: url(/assets/icons/illustration.svg);
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Header */
.mac_bar {
    background-color: var(--white);
    width: 100vw;
    height: 2rem;
    border-bottom: 2px solid var(--black);
    font-family: 'ChicagoFLF', sans-serif;
    font-size: 1rem;
}

.mac_menu {
    display: flex;  
}

.mac_menu > li:not(:first-child) {
    padding: .5rem 1rem;
}

.mac_menu > li:hover {
    color: var(--white);
    background: var(--black);
}

.mac_menu > li:focus {
    outline: none;
}

#logo {
    width: 1.1rem;
    padding: 0 1.3rem;
}

#logo > svg {
    position: relative;
    transform: translateY(.4rem);
}

#logo:hover {
    fill: var(--white);
}

.dropdown {
    display: none;
    position: absolute;
    top: 2.2rem;
    z-index: 9;
    background: var(--white);
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--black);
}

/* Logo menu */
.dropdown.logo {
    left: 0;
}

.dropdown.logo li:not(:first-child){
    padding: .4rem 8rem .5rem 1.5rem;
}

.menu-title {
    border-bottom: 1px dotted var(--black);
    padding: 1rem 8rem 1rem 1.5rem;
}

/* end logo menu */

.dropdown.file {
    left: 3.7rem;
}

.dropdown.view {
    left: 11.7rem;
}

.dropdown.edit {
    left: 7.65rem;
}

.dropdown.special {
    left: 16.4rem;
}


.dropdown li:last-child {
    margin-bottom: .5rem;
}

.dropdown li:nth-child(2) {
    margin-top: .5rem;
}

.dropdown li:hover, .menu-title:hover {
    color: var(--white);
    background: var(--black);
}


/* Main content */
main {
    display: flex;
    justify-content: space-between;
}



/* Reusables */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vh-align {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    margin: 0 auto;
    max-width: 96%;
}