@import 'normalize.css' screen;
@import 'animations.css' screen;
@import 'variables.css' screen;

/* font */
@import url(//db.onlinewebfonts.com/c/1a243397695904f6f56e490ffd77a9cb?family=ChicagoFLF);


* {
    padding: 0;
    margin: 0;
}

body {
    background: url(/assets/icons/Swatch.svg);
    overflow: hidden;
}

ul, body {
    list-style: none;
}


/* Splash screen */
.splash_screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(/assets/icons/Swatch.svg);
}

.mac_loader {
    background-image: url(/assets/icons/Mac_loader.svg);
    width: 4.7rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: beat;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.welcome {
    position: absolute;
    opacity: 0;
    background-color: var(--white);
    border: .8px solid var(--black);
    width: 38rem;
    height: 15rem;
    animation: show 1.5s forwards;
    animation-delay: 4s;
    animation-direction: alternate-reverse;
}

.welcome_screen {
    position: relative;
    width: 98%;
    height: 96%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    background-color: var(--white);
    border: 2px solid var(--black);
}

.welcome_screen > span {
    position: absolute;
    top: 45%;
    left: 30%;
    font-family: 'ChicagoFLF', sans-serif;
    font-size: 22px;
}

.welcome_illustration {
    margin: 2.5rem 0 0 2.5rem;
    background: url(/assets/icons/illustration.svg);
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Header */
.container {
    margin: 0 auto;
    max-width: 96%;
}
.mac_bar {
    background-color: var(--white);
    width: 100vw;
    height: 2rem;
    border-bottom: 2px solid var(--black);
}

#logo {
    width: 1.1rem;
    padding: 0 1.3rem;
}

#logo > svg {
    position: relative;
    transform: translateY(.4rem);
}

#logo:focus {
    outline: none;
    fill: var(--white);
    background-color: var(--black);
    transition: all 0.2s;
}

.menu {
    font-family: 'ChicagoFLF', sans-serif;
}

.dropdown.logo {
    position: absolute;
    display: none;
    background: var(--white);
    z-index: 9;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--black);
}

.dropdown.logo ul {
    margin: .8rem 0;
}

.dropdown.logo li {
    padding: .4rem 8rem .4rem 1.5rem;
}

.dropdown.logo li:hover, .menu-title:hover {
    color: var(--white);
    background: var(--black);
}

.menu-title {
    border-bottom: 1px dotted var(--black);
    padding: 1rem 8rem 1rem 1.5rem;
}

.mac_menu {
    display: flex;
    font-family: 'ChicagoFLF', sans-serif;
    font-size: 1rem;
}

.mac_menu > li {
    padding: .5rem 1rem;
}

.mac_menu > li:focus {
    outline: none;
    color: var(--white);
    background: var(--black);
}


main {
    display: flex;
    justify-content: space-between;
}


/*  */



/* Reusables */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vh-align {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}