:root {
    /* color palette */
    --white: #fff;
    --black: #000;
    --Primary: "ChicagoFLF", sans-serif;
    --Secondary: "Geneva", sans-serif;
    overflow: hidden;
}


/* Typo */
@font-face {
    font-family: "ChicagoFLF";
    src: url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.woff2") format("woff2"); 
    src: url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.eot"), 
    url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/1a243397695904f6f56e490ffd77a9cb.svg#ChicagoFLF") format("svg"); 
}

@font-face {
    font-family: "Geneva"; 
    src: url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.woff2") format("woff2"); 
    src: url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.eot"), 
    url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/5ef60dc8370b330aa40e0c874bda45aa.svg#Geneva") format("svg"); 
}

::selection {
	color: var(--white);
	background-color: var(--black);
}

/* for firefox */
::moz-selection {
	color: var(--white);
	background-color: var(--black);
}

/* Reusables */
.d-none {
    display: none !important;
}

.btn {
    border-radius: 0;
    border: 1px solid var(--black);
    background: var(--white);
}

.btn:focus {
    color: #efefef; 
    text-shadow: -1px -1px 0px #777, -1px -1px 0px #777;
    box-shadow: inset 1.5px 1.5px 6px rgb(169, 169, 169);
}

.d-block {
    display: block !important;
}

.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.vh-align {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    margin: 0 auto;
    max-width: 96%;
}

.rotate-180 {
    transform: rotate(180deg);
}

.d-flex {
    display: flex;
}

.fd-row {
    flex-direction: column;
    justify-content: space-between;
}